  @model SpmsApp.ViewModels.UniversityPloAchievementSelectProgram
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col">@Html.Partial("TopBar", Model.TopbarViewModel)</div>
</div>
<div class="row">
    <div class="col-2">
        @Html.Partial("UGCorIEBSidebar")
    </div>
      <div class="col">
        <form id="programSelector">
            <select id="selector">
                @foreach (var prog in Model.Programs)
                {
                    <option value=@prog.ProgramID>@($"{prog.ProgramName} - {prog.Department.School.University.UniversityName}")</option>
                }
            </select>
            <input type="submit" value="Submit">
        </form>

        <div style="width: 50%;" id="draw-point">

        </div>
    </div>
</div>
