<div class="nav flex-column" style="height: 100%; background-color: #6c86dd;">
  <a class="nav-link menu-item" href="/faculty/">Home</a>
  <a href="/faculty/pat" class="nav-link menu-item">PLO Achievement Table (Students)</a>
  <a href="/faculty/ispscc" class="nav-link menu-item">Individual Student PLO Score Comparison(Course)</a>
  <a href="/faculty/ispscp" class="nav-link menu-item">Individual Student PLO Score Comparison(Program)</a>
  <a href="/faculty/ippsc" class="nav-link menu-item">Instructorwise PLO Performance for Select Courses</a>

  <a href="/faculty/mcp" class="nav-link menu-item inactive">Map CO-PLO</a>
  <a href="/faculty/iad" class="nav-link menu-item inactive">Input Assessment Details</a>
  <a href="/faculty/iad" class="nav-link menu-item inactive">Submit Student Marks</a>
  <a href="/faculty/iad" class="nav-link menu-item inactive">Change Grade</a>
  <a href="/faculty/spcc" class="nav-link menu-item inactive">Student PLO Comparison (Course)</a>
  <a href="/faculty/iad" class="nav-link menu-item inactive">Student PLO Comparison (Program)</a>
  <a href="/faculty/cppo" class="nav-link menu-item inactive">Course PLO Performance (Own)</a>
  <a href="/faculty/cppo" class="nav-link menu-item inactive">Achieved vs Failed PLO Performance</a>
</div>

<style>
    .menu-item {
        text-align: center;
        background-color: #6c86dd;
        color: white;
        font-weight: bold;
    }

    .inactive {
      color: red;
    }
</style>