
<div class="nav flex-column full-height">
    <a href="/guardian/" class="nav-link menu-item">Home</a>
    <a href="/guardian/spat" class="nav-link menu-item">Student PLO Achievement Table</a>
    <a href="/guardian/logout" class="nav-link menu-item">Logout</a>
    
</div>

<style>
 
    .menu-item {
        text-align: center;
        background-color: cornflowerblue;
        color: white;
        font-weight: bold;
        
    }

    .full-height {
        height:100%;
         
    }
</style>
