<div class="nav flex-column full-height">
    <a class="nav-link menu-item" href="/department/">Home</a>
    @* <a href="/department/SPCC" class="nav-link menu-item">Student PLO Comparison (Course)</a>
    <a href="/department/SPCP" class="nav-link menu-item">Student PLO Comparison (Program)</a> *@
    <a href="/department/SPAT" class="nav-link menu-item">Student PLO Achievement Table</a>
    @* <a href="/department/CPPF" class="nav-link menu-item">Course PLO Performance (Faculty)</a> *@
    @* <a href="/department/PWCP" class="nav-link menu-item">PLO-wise Course Performance</a>
    <a href="/department/AFPP" class="nav-link menu-item">Achieved vs Failed PLO Performance</a>
    <a href="/department/AAC" class="nav-link menu-item">Attempted vs Achieved Comparison</a>
    <a href="/department/PAP" class="nav-link menu-item">PLO Achievement for a Program</a>
    <a href="/department/SGAP" class="nav-link menu-item">Students/Graduates Achieving all PLOS</a> *@
    <a href="/department/IPPC" class="nav-link menu-item">Instructor-wise PLO Performance Comparison</a>
    <a href="/department/ISPSCC" class="nav-link menu-item">Individual Student Plo Score Comparison (Course)</a>
    <a href="/department/ISPSCP" class="nav-link menu-item">Individual Student Plo Score Comparison (Program)</a>
    
    <a href="/department/CPAASP" class="nav-link menu-item">Comparison PLO Achieved Vs Attempted Selected Programs</a>
    
    <a href="/department/PCACSP" class="nav-link menu-item">PLO Comparison Among Course With Same Selected PLOs</a>

    <a href="/department/CPAFSC" class="nav-link menu-item">Comparison PLO Achieved Vs Failed For Select Courses</a>
    <a href="/department/logout" class="nav-link menu-item">Logout</a>
</div>

<style>
    .menu-item {
        text-align: center;
        background-color: cornflowerblue;
        color: white;
        font-weight: bold;
    }

    .full-height {
        height: 100%;
    }
</style>
