<div class="row" style="background-color: cornflowerblue;">
    <div class="col-1">

    </div>
    <div class="col-10">
        @* <h3>@Model.Fullname</h3> *@
        <h3>Full Name</h3>
        <h5>ID</h5>
    </div>
    <div class="col">

    </div>
</div>

@* <h1>this is topbar</h1> *@