@model SpmsApp.ViewModels.TopbarViewModel

<div class="row" style="background-color: #ece9d8;">
  <div class="col-1">

  </div>
  <div class="d-flex">
    <div class="col-10">
      <h3>@Model.Name</h3>
      <h5>@Model.ID</h5>
    </div>
  </div>
  <div class="col">

  </div>
</div>

@* <h1>this is topbar</h1> *@
