
<div class="nav flex-column ">
    

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/ugc/"> Home</a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages  Menu -->
        <!-- PLO Achievement For a Program -->
        <li class="nav-item">
            <a class="nav-link" href="/ugc/pafap"> PLO Achievement For a Program </a>

        </li>
        <!-- PLO-wise Course Performance -->
        <li class="nav-item">
            <a class="nav-link " href="/ugc/pwcp" >PLO-wise Course Performance </a>

        </li>
        <!-- Students/Graduates Achieving all PLOs -->
        <li class="nav-item">
            <a class="nav-link" href="/ugc/sogaap">Students/Graduates Achieving all PLOs  </a>

        </li>
         <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Adds-on
        </div>

        <!-- Nav Item - Pages  Menu -->
        <!-- PLO Achievement For a Program -->
        <li class="nav-item">
            <a class="nav-link" href="#">Charts</a>

        </li>
        <!-- PLO-wise Course Performance -->
        <li class="nav-item">
            <a class="nav-link " href="#" >Tables </a>

        </li>
        <!-- Students/Graduates Achieving all PLOs -->
        


    </ul>
    <!-- End of Sidebar -->
     </div>
    
        <style>
           hr {
         box-sizing: content-box;
          height: 0;
         overflow: visible;
          }
       
       ul
      {
        margin-top: 0;
           margin-bottom: 1rem;
           background-color:rgb(195, 208, 233);
  text-align:center;
}
ul ul {
  margin-bottom: 0;
}

</style>
