
<div class="nav flex-column full-height">
    <a class="nav-link menu-item" href="/vc/">Home</a>
    <a href="/vc/spcc" class="nav-link menu-item">Student PLO Comparison (Course)</a>
    <a href="/vc/spcp" class="nav-link menu-item">Student PLO Comparison (Program)</a>
    <a href="/vc/spat" class="nav-link menu-item">Student PLO Achievement Table</a>
    <a href="/vc/cppf" class="nav-link menu-item">Course PLO Performance (Faculty)</a>
    <a href="/vc/pcp" class="nav-link menu-item">PLO-wise Course Performance</a>
    <a href="/vc/afpp" class="nav-link menu-item">Achieved vs Failed PLO Performance</a>
    <a href="/vc/aac" class="nav-link menu-item">Attempted vs Achieved Comparison</a>
    <a href="/vc/pafap" class="nav-link menu-item">PLO Achievement for a Program</a>
    <a href="/vc/sgaap" class="nav-link menu-item">Students/Graduates Achieving all PLOS</a>
    <a href="/vc/apa" class="nav-link menu-item">Average PLO Achievement (School/Dept.)</a>
    <a href="/vc/ippc" class="nav-link menu-item">Instructor-wise PLO Performance Comparison</a>
</div>

<style>
    .menu-item {
        text-align: center;
        background-color: cornflowerblue;
        color: white;
        font-weight: bold;
    }

    .full-height {
        height: 100%;
    }
</style>