@model SpmsApp.ViewModels.AddNewAssessmentViewModel;
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col">@Html.Partial("TopBar", Model.TopbarViewModel)</div>
</div>
<div class="row" style="height: 100%;">
    <div class="col-2">
        @Html.Partial("FacultySidebar")
    </div>
    <div class="col">
        <form asp-action="AddNewAssessment" asp-controller="Faculty">
            <label asp-for="QuestionNumber">Question Number:</label><input asp-for="QuestionNumber" type="number" placeholder="Enter Question Number">
            <label asp-for="AssessmentType">Question Type:</label><input asp-for="AssessmentType" type="text" placeholder="Enter Question Type"> <br>
            <label asp-for="TotalMark">Total Mark:</label><input asp-for="TotalMark" type="number" placeholder="Enter Total Mark">
            <label asp-for="SectionID">Section:</label>
            <select asp-for="SectionID">
                <option value="">Selelct a Section</option>
                @foreach (var sec in Model.Sections)
                {
                    <option value=@sec.SectionID>@($"{sec.SectionNumber}")</option>
                }
            </select>
            <label asp-for="CoID">CO Name:</label>
            <select asp-for="CoID">
                <option value="">Selelct a CO</option>
                @foreach (var co in Model.CourseOutcomes)
                {
                    <option value=@co.CoID>@($"{co.CoName}")</option>
                }
            </select><br>
            <input type="submit" value="Submit" class="btn btn-danger">
        </form>
    </div>
</div>