@model SpmsApp.ViewModels.CoursePloPerformanceOwnViewModel

<div class="row">
    <div class="col">@Html.Partial("TopBar")</div>
</div>

<div class="row">
    <div class="col-2">
        @Html.Partial("FacultySidebar")
    </div>
    <div class="col">
        <form method="POST">
            <label for="selectedCourse">Select a course:</label>
            <select name="selectedCourse">
                <option value="">Selelct a Course</option>
                @foreach (var course in Model.Courses)
                {
                    <option value=@course.CourseID>@course.CourseName</option>
                }
            </select>
            <input type="submit" value="Submit">
        </form>

        @if (Model.PloScores != null)
        {
            <h1>hello world</h1>
            <canvas id="ploChart" width="25px"></canvas>
        }
    </div>
</div>

<script>
    let ploChart = document.getElementById('ploChart').getContext('2d');

    let chart = new Chart(ploChart, {
        type: 'bar',
        data: {
            labels: ['a','b','c'],
            datasets: [{
                label: 'Demo',
                data: [10, 25, 69]
            }]
        },
        option:{
            responsive: true
        }
    })
</script>