@model SpmsApp.ViewModels.CoursePloPerformanceOwnViewModel
@using Newtonsoft.Json;

<div class="row">
    <div class="col">@Html.Partial("TopBar")</div>
</div>
<div class="row">
    <div class="col-2">
        @Html.Partial("DeanSidebar")
    </div>
    <div class="col">
        <form id="course-selector" method="POST">
            <label for="selectedCourse">Select a course:</label>
            <select name="selectedCourse">
                <option value="">Selelct a Course</option>
                @foreach (var course in Model.Courses)
                {
                    <option value=@course.CourseID>@course.CourseName</option>
                }
            </select>
            <input type="submit" value="Submit">
        </form>
        
    </div>
</div>