@{
    ViewData["Title"] = "Course PLO";
}

<div class="row">
    <div class="col">@Html.Partial("TopBar")</div>
</div>
<div class="row">
    <div class="col-2">
        @Html.Partial("DeanSidebar")
    </div>
    <div class="col">
        <h1>Course PLO</h1>
    </div>
</div>