@model SpmsApp.ViewModels.TopbarViewModel
@{
    ViewData["Title"] = "Average PLO Achieve";
}

<div class="row">
    <div class="col">@Html.Partial("TopBar", Model)</div>
</div>
<div class="row">
    <div class="col-2">
        @Html.Partial("DeanSidebar")
    </div>
    <div class="col">
        <h1>Dean's Dashboard'</h1>
    </div>
</div>