 @model SpmsApp.ViewModels.VC.UniversityPloAchievementSelectProgram
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col">@Html.Partial("TopBar", Model.TopbarViewModel)</div>
</div>
<div class="row">
    <div class="col-2">
        @Html.Partial("VCSidebar")
    </div>
    <div class="col">
          <form id="programSelector">
            <select id="selector">
                @foreach (var prog in Model.Programs)
                {
                    <option value=@prog.ProgramID>@($"{prog.ProgramName} - {prog.Department.School.University.UniversityName}")</option>
                }
            </select>
            <input type="submit" value="Submit">
        </form>

        <div style="width: 50%;" id="draw-point">

        </div>
    </div>
</div>
<script>
    document.getElementById("programSelector").addEventListener("submit", e => {
        e.preventDefault();

        let programID = parseInt(document.getElementById("selector").value);

        console.log(programID);

        fetch("/vc/upasp", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                selectedProgram : programID
            })
        })
        .then(res => res.json())
        .then(res => {
            let drawPoint = document.getElementById('draw-point');
            drawPoint.innerHTML = "";

            var ctx = document.createElement('canvas');
            ctx.getContext('2d');
            drawPoint.appendChild(ctx);
            console.log(res.data)

            var myChart = new Chart(ctx, {
                type: 'radar',
                data: res.data,
                options: {
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    }
                }
            })
        })
    })
</script>