@model SpmsApp.ViewModels.TopbarViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col">@Html.Partial("TopBar", Model)</div>
</div>
<div class="row">
    <div class="col-2">
        @Html.Partial("StudentSidebar")
    </div>
    <div class="col">
        <h1>course PLO</h1>
    </div>
</div>