
@{
    ViewData["Title"] = "programPLO";
}

<div class="row">
    <div class="col">@Html.Partial("TopBar")</div>
</div>
<div class="row">
    <div class="col-2">
        @Html.Partial("StudentSidebar")
    </div>
    <div class="col">
        <h1>program PLO</h1>
    </div>
</div>